.container {
    text-align: center;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(12px);
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(255,255,255,0.3);
    width: 90%;
    max-width: 650px;
    z-index: 10;

    /* Ye line zaruri hai */
    position: relative;
}
.no {
    background: #6c63ff;
    color: white;
    position: absolute; /* Relative to container */
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}